body{margin:0;
padding:0;
}
.account-container{
    display:flex;
    margin:0;
height:100%;
}
.account-menu{
    background:rgb(240, 238, 238);
    margin:0;
    height:800px;
    width:200px;
}
.info-area{
    flex-basis:70%;
}
ul{
    width:215px;
    height:100%;
    margin-left:-27%;
}
ul li{
list-style-type:none;
padding:8px 20px;
text-align:start;
}
ul li a{
    text-decoration:none;
    color:black;
    padding-left:5px;
}
ul li:hover{
    background:rgb(0, 132, 255);
    color:white;
}ul li:hover a{
    color:white;
}
.info-area{
    padding-left:30px;
    padding-top:25px;
}
p{
    color:black;
    font-weight:bolder;
}
ul li:checked{
    background:red;
}
.user-img{
    width:60px;
    height:60px;
    border-radius:50%;
    background:red;
}
#textarea > a{
    background:rgb(28, 31, 211);
    display:inline-block;
    width:120px;
    padding:5px;
    border-radius:10px;
    color:white;
    text-align:center;
    font-weight:bolder;
    margin-top:30px;
    margin-left:20px;
    cursor:pointer;
}
@media screen and (max-width:480px){
   .account-container{
       flex-direction:column;
   }
   .account-menu{
    background:rgb(240, 238, 238);
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    overflow-y:hidden;
    overflow-x:scroll;
    margin:0;
    padding:0;
   height:50px;
    width:100%;
}
.info-area{
    flex-basis:100%;
}
ul{
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    margin-left:-15%;
}
ul li{
list-style-type:none;
text-align:center;
width:200px;
padding-left:15px;
padding-right:5px;
display:flex;
}
ul li a{
display:inline-block;
width:150px;
padding-left:-60px;
}
.addproducts{
display:inline-block;
background:red;
color:white;
width:110px;
}